{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3 p-4">
                <h5 class="card-title py-3">{{article.headline}}</h5>
                <img src="{{ article.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">


                    <p class="card-text">{{article.body}}</p>
                    <p class="card-text"><small class="text-body-secondary">Author : {{article.editor.user.first_name}}
                            {{article.editor.user.last_name}}</small></p>
                    <p>
                        Category : {% for cat in article.category.all %}
                        <button class="btn btn-outline-dark btn-sm m-1">{{cat.name}} </button>
                        {% endfor %}
                    </p>
                    <small>{{article.publishing_time|timesince }} ago</small>
                    <br>
                    <!-- post_detail.html -->
                    {% if user.is_authenticated %}
                    <h6 class=" font-weight-bold">Likes: {{ likes_count }}</h6>
                    {% if user_likes_article %}
                    <a class="btn btn-outline-info font-weight-bold px-3" href="{% url 'like_post' id=article.id %}"><i class="fa-solid fa-heart"></i> Unlike</a>
                    {% else %}
                    <a class="btn btn-outline-primary font-weight-bold px-3" href="{% url 'like_post' id=article.id %}"><i class="fa-regular fa-heart"></i> Like</a>
                    {% endif %}
                    
                    {% endif %}

                </div>
            </div>
            <ul>
                <h2>Related Posts</h2>
                {% for category in articles_under_category %}

                <div class="card">
                    <a href="{% url 'detail_article' category.id %}">{{ category.headline }}</a>

                </div>
                {% endfor %}
        </div>
    </div>
    <!-- LIKES -->


    <div class="row">
        <div class="d-flex flex-wrap">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="p-3">Total Review : {{comments | length}}</h5>
                    <p class="p-3">Average Rating: {{ average_rating }}</p>
                    {% for rating in comments %}
                    <div class="card-body border m-2">
                        <p>Rating: {{rating.rating}}</p>
                        <p><b>{{rating.name}}</b><br> Rating Time: {{rating.created_on}}</p>
                        <p>Comment: {{rating.body}}</p>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <h1>Add Review</h1>
                            {% csrf_token %}
                            {{comment_form | crispy}}

                            <button class="btn btn-warning">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}