{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div>
  <a class="btn btn-primary" href="{% url 'edit_profile' %}">
    Edit Your Profile</a
  >
</div>
{{data}}
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
    {data}
  {% for post in data %}
  <div class="col-sm-3">
    <div class="card m-2">
      <div class="card-body">
        
        <h5 class="card-title">{{post.id}}</h5>
        <p class="card-text">{{post.description}}</p>
        </p>
        
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}